extends ../layouts/index

block content
  div.py-10.pt-2
    h1(class="text-4xl my-10 mt-5 font-extrabold text-center") Bienes 
      span.font-normal Raíces
    h2(class='text-center text-5xl font-extrabold')= page

    p(class="text-xl font-bold text-center my-5")= message
